Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
configure
depcomp
install-sh
missing
config.h.in
config.h.in~
nvcc_arch_sm
test-driver
config.log
config.status
examples/C/.deps
examples/C/scaling/.deps
examples/C/ssmfe/.deps
tests/ssmfe/.deps
my_cfg.sh
