Makefile
Makefile.in
aclocal.m4
autom4te.cache
compile
config.guess
config.sub
configure
depcomp
install-sh
missing
config.h.in
config.h.in~
nvcc_arch_sm
test-driver
config.log
config.status
examples/C/.deps
examples/C/scaling/.deps
examples/C/ssmfe/.deps
tests/ssmfe/.deps
driver/.deps
driver/.dirstamp
driver/spral_ssids.o
interfaces/C/.deps
interfaces/C/.dirstamp
interfaces/C/matrix_util.o
interfaces/C/random.o
interfaces/C/random_matrix.o
interfaces/C/scaling.o
interfaces/C/ssids.o
interfaces/C/ssmfe.o
interfaces/C/ssmfe_core.o
interfaces/C/ssmfe_expert.o
libspral.a
spral_blas_iface.mod
spral_core_analyse.mod
spral_cuda.mod
spral_lapack_iface.mod
spral_match_order.mod
spral_matrix_util.mod
spral_metis_wrapper.mod
spral_pgm.mod
spral_random.mod
spral_random_matrix.mod
spral_rutherford_boeing.mod
spral_scaling.mod
spral_scaling_ciface.mod
spral_ssids
spral_ssids.mod
spral_ssids_alloc.mod
spral_ssids_analyse.mod
spral_ssids_ciface.mod
spral_ssids_cuda_datatypes.mod
spral_ssids_cuda_interfaces.mod
spral_ssids_datatypes.mod
spral_ssids_dense_factor_gpu.mod
spral_ssids_factor_gpu.mod
spral_ssids_solve_cpu.mod
spral_ssids_solve_gpu.mod
spral_ssmfe.mod
spral_ssmfe_ciface.mod
spral_ssmfe_core.mod
spral_ssmfe_core_ciface.mod
spral_ssmfe_expert.mod
spral_ssmfe_expert_ciface.mod
spral_timer.mod
spral_timespec.mod
src/.deps
src/.dirstamp
src/blas_iface.o
src/core_analyse.o
src/cuda/.deps
src/cuda/.dirstamp
src/cuda/api_wrappers.o
src/cuda/cuda.o
src/lapack_iface.o
src/match_order.o
src/matrix_util.o
src/metis4_wrapper.o
src/pgm.o
src/random.o
src/random_matrix.o
src/rutherford_boeing.o
src/scaling.o
src/ssids/.deps
src/ssids/.dirstamp
src/ssids/alloc.o
src/ssids/analyse.o
src/ssids/assemble_kernels.o
src/ssids/cuda_datatypes.o
src/ssids/cuda_interfaces.o
src/ssids/datatypes.o
src/ssids/dense_factor_gpu.o
src/ssids/dense_factor_kernels.o
src/ssids/factor_gpu.o
src/ssids/node_solve_kernels.o
src/ssids/reorder_kernels.o
src/ssids/solve_cpu.o
src/ssids/solve_gpu.o
src/ssids/solve_kernels.o
src/ssids/ssids.o
src/ssids/syrk_kernels.o
src/ssmfe/.deps/
src/ssmfe/.dirstamp
src/ssmfe/core.o
src/ssmfe/expert.o
src/ssmfe/ssmfe.o
src/timer.o
dl.out
examples/C/.dirstamp
examples/C/random
examples/C/random.o
examples/C/random_matrix
examples/C/random_matrix.o
examples/C/scaling/.dirstamp
examples/C/scaling/auction_sym
examples/C/scaling/auction_sym.o
examples/C/scaling/auction_unsym
examples/C/scaling/auction_unsym.o
examples/C/scaling/equilib_sym
examples/C/scaling/equilib_sym.o
examples/C/scaling/equilib_unsym
examples/C/scaling/equilib_unsym.o
examples/C/scaling/hungarian_sym
examples/C/scaling/hungarian_sym.o
examples/C/scaling/hungarian_unsym
examples/C/scaling/hungarian_unsym.o
examples/C/ssids
examples/C/ssids.o
examples/C/ssmfe/.dirstamp
examples/C/ssmfe/hermitian
examples/C/ssmfe/hermitian.o
examples/C/ssmfe/precond_core
examples/C/ssmfe/precond_core.o
examples/C/ssmfe/precond_expert
examples/C/ssmfe/precond_expert.o
examples/C/ssmfe/precond_ssmfe
examples/C/ssmfe/precond_ssmfe.o
examples/C/ssmfe/shift_invert
examples/C/ssmfe/shift_invert.o
examples/Fortran/.deps
examples/Fortran/.dirstamp
examples/Fortran/random
examples/Fortran/random.o
examples/Fortran/random_matrix
examples/Fortran/random_matrix.o
examples/Fortran/scaling/.deps
examples/Fortran/scaling/.dirstamp
examples/Fortran/scaling/auction_sym
examples/Fortran/scaling/auction_sym.o
examples/Fortran/scaling/auction_unsym
examples/Fortran/scaling/auction_unsym.o
examples/Fortran/scaling/equilib_sym
examples/Fortran/scaling/equilib_sym.o
examples/Fortran/scaling/equilib_unsym
examples/Fortran/scaling/equilib_unsym.o
examples/Fortran/scaling/hungarian_sym
examples/Fortran/scaling/hungarian_sym.o
examples/Fortran/scaling/hungarian_unsym
examples/Fortran/scaling/hungarian_unsym.o
examples/Fortran/ssids
examples/Fortran/ssids.o
examples/Fortran/ssmfe/.deps
examples/Fortran/ssmfe/.dirstamp
examples/Fortran/ssmfe/hermitian
examples/Fortran/ssmfe/hermitian.o
examples/Fortran/ssmfe/laplace2d.o
examples/Fortran/ssmfe/ldltf.o
examples/Fortran/ssmfe/precond_core
examples/Fortran/ssmfe/precond_core.o
examples/Fortran/ssmfe/precond_expert
examples/Fortran/ssmfe/precond_expert.o
examples/Fortran/ssmfe/precond_ssmfe
examples/Fortran/ssmfe/precond_ssmfe.o
examples/Fortran/ssmfe/shift_invert
examples/Fortran/ssmfe/shift_invert.o
laplace2d.mod
laplace2d_double.mod
ldltf.mod
ldltf_double.mod
random_matrix_test
random_matrix_test.log
random_matrix_test.trs
random_test
random_test.log
random_test.trs
scaling_test
scaling_test.log
scaling_test.trs
ssids_test
ssids_test.log
ssids_test.trs
ssmfe_ciface_test
ssmfe_ciface_test.log
ssmfe_ciface_test.trs
ssmfe_test
ssmfe_test.log
ssmfe_test.trs
test-suite.log
tests/.deps
tests/.dirstamp
tests/random.o
tests/random_matrix.o
tests/scaling.o
tests/ssids.o
tests/ssmfe/.dirstamp
tests/ssmfe/ssmfe.o
tests/ssmfe/ssmfe_ciface.o
we.out
my_cfg.sh
my_cfg.sh~
